@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p,h1,h2,h3,h4,h5,h6,button,a {
        font-family: 'Montserrat', sans-serif;
    }
    .nav-li {
        @apply flex items-center justify-center w-[90px] h-10 rounded-md hover:bg-yellow-400;
    }
    .benefit {
        @apply bg-white w-full h-[58px] xl:h-[85px] 2xl:h-[120px] px-5 md:px-3 lg:p-[22px] flex items-center hover:shadow-2xl duration-500;
    }
    .benefit__iconBg {
        @apply relative w-[42px] lg:w-12 xl:w-[62px] 2xl:w-[77px] h-[42px] lg:h-12 xl:h-[62px] 2xl:h-[77px] bg-black-200 rounded-md flex items-center justify-center;
    }
    .benefit__title {
        @apply md:text-sm lg:text-base xl:text-xl 2xl:text-2xl font-medium;
    }
    .benefit__desc {
        @apply md:text-[9px] lg:text-xs xl:text-sm 2xl:text-base font-medium  text-gray-400 ;
    }
    .shadow-yellow {
        background: #FDB819;
        box-shadow: 0px 0px 15px #FDB819;
    }
    .shadow-yellow:hover {
        background: #FDB819;
        box-shadow: 0px 0px 15px #FEBF2D;
    }
    .popularCatalogBtn {
     @apply border-b-2 border-white hover:border-gray-500 py-2 text-gray-400 hover:text-gray-500;
    }
    .popularCatalogBtn-active {
     @apply border-b-2 border-yellow-400 py-2;
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    .cart {
        @apply relative z-0 hover:z-10 w-[240px] 2xl:w-[260px] h-[430px] 2xl:h-[446px] bg-white hover:shadow-2xl duration-300 transform hover:-translate-y-1;
    }
    .cart__img {
        @apply w-[260px] h-[223px] flex items-center justify-center;
    }
    .cart__category {
        @apply text-[10px] font-semibold text-gray-400;
    }
    .cart__name {
        @apply text-2xl font-bold;
    }
    .cart__desc {
        @apply text-xs leading-4;
    }
    .cart__interact {
        @apply absolute bottom-6 left-0 w-full flex justify-between items-end px-4;
    }
    .cart__oldPrice {
        @apply text-gray-400 font-bold text-sm;
    }
    .cart__price {
        @apply text-xl font-bold -mt-1;
    }
    .cart__btn {
        @apply w-[130px] h-[30px] bg-yellow-400 hover:bg-yellow-300;
    }
    .basket__product {
        @apply relative hover:z-10 w-full py-2 lg:py-0 lg:h-[100px] bg-white border-b-2 border-white hover:border-yellow-400 flex flex-col space-y-4 lg:space-y-0 lg:flex-row  2xl:items-center px-5;
    }
    .basket__product__img {
        @apply w-[90px] h-[90px];
    }
    .basket__product__name {
        @apply text-2xl font-medium hover:underline;
    }
    .basket__product__desc {
        @apply flex flex-col 2xl:flex-row  2xl:space-x-5;
    }
    .basket__product__form {
        @apply w-full lg:w-auto flex flex-col md:flex-row space-y-3 items-center justify-between ml-auto space-x-1 lg:space-x-4;
    }
    .basket__product__btn1 {
        @apply w-10 h-10 bg-white hover:bg-yellow-400 text-xl rounded-md hover:shadow-md active:shadow-none active:scale-95;
    }
    .basket__product__count {
        @apply w-[50px] h-[50px] text-center outline-none border-2 border-gray-400 hover:border-gray-500 rounded-md focus:border-yellow-400;
    }
    .basket__product__price {
        @apply text-2xl font-medium inline;
    }
    .basket__input {
        @apply w-full h-10 pl-3 outline-none rounded-none border-b-2 border-gray-300 focus:border-yellow-300;
    }
}